.likes-button {
	padding: 10px; 
	background-color: lightgreen;
	color: black;
	font-size: 14px; 
	font-weight: bold; 
	cursor: pointer;
	border: 2px outset white;
}

.dislikes-button {
	padding: 10px; 
	background-color: indianred;
	color: black;
	font-size: 14px; 
	font-weight: bold; 
	cursor: pointer;
	border: 2px outset white;
}
