<p-panel>
	<div class="p-grid">
		<div class="p-col-6">
			<span class="p-float-label">
				<input id="float-input" type="text" pInputText [(ngModel)]="blog.title" size="60" maxlength="60"> 
				<label for="float-input">Title</label>
			</span>
		</div>
		<div class="p-col">
			<span class="p-float-label">
				&nbsp;&nbsp;
				<p-dropdown id="visibility-dd" [(ngModel)]="this.selectedVisibility" [options]="this.visibilities" optionLabel="key" optionValue="value"></p-dropdown>
				<label for="visibility-dd">Visibility</label>
			</span>
		</div>
		<div class="p-col">
			<span  class="p-float-label">
				<p-dropdown id="commentSecurity-dd" [options]="commentSecurity" [(ngModel)]="blog.commentSecurity" optionLabel="key" optionValue="value"></p-dropdown>
				<label for="commentSecurity-dd">Comment Security</label>
			</span>
		</div>
		<div class="p-col-4">
			<p-chips #categories [(ngModel)]="blog.categoryList" [allowDuplicate]="false" separator="," placeholder="Search Category" (onRemove)="removeCategory($event)" (onAdd)="addCategory($event, categories)">
				<ng-template let-category pTemplate="item">
					{{category.text}}
				</ng-template>
			</p-chips>&nbsp;&nbsp;
			<p-checkbox [(ngModel)]="blog.active" [binary]="true" label="Active"></p-checkbox>
		</div>
	</div>
	<p-editor [(ngModel)]="blog.text" [style]="{'height':'500px', 'width': '100%'}">
		<ng-template pTemplate="header">
        	<span class="ql-format-group">
            <span title="Bold" class="ql-format-button ql-bold"></span>
            <span class="ql-format-separator"></span>
            <span title="Italic" class="ql-format-button ql-italic"></span>
            <span class="ql-format-separator"></span>
            <span title="Underline" class="ql-format-button ql-underline"></span>
            <span class="ql-format-separator"></span>
            <span title="Strikethrough" class="ql-format-button ql-strike"></span>
        	</span>
    	</ng-template>
	</p-editor>
	<p-menubar>
		<p-button label="Delete Blog" (onClick)="deleteBlog()"></p-button>&nbsp;&nbsp;
		<p-button label="Save Draft" (onClick)="saveUpdatedDraft()"></p-button>&nbsp;&nbsp;
		<p-button label="Publish" (onClick)="publishUpdatedBlog()"></p-button>
	</p-menubar>
</p-panel>

